@use "../_utils/utils" as *;

/// -----------------------------------------------------------------------------
/// 🟢 Block
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
@include block(block) {
	width: 100%;
	max-width: 320px;
	padding: 24px;
}
