@use "../_utils/utils" as *;

/// -----------------------------------------------------------------------------
/// 🟢 Section
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
@include block(section) {
	display: flex;
	flex-direction: column;

	@include modifier(center) {
		align-items: center;
		justify-content: center;
	}
}
